In [1]:
# Import libraries
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [4]:
#import your data
df = pd.read_csv('MLR_Salary.csv')
df.head()

    age  distance  YearsExperience  Salary
0  31.1     77.75              1.1   39343
1  31.3     78.25              1.3   46205
2  31.5     78.75              1.5   37731
3  32.0     80.00              2.0   43525
4  32.2     80.50              2.2   39891

In [7]:
X = df[['age',"distance",'YearsExperience']]
y= df['Salary']

In [8]:
# Create and fit your model
model = LinearRegression().fit(X,y)
model

LinearRegression()

In [9]:
model.coef_

array([-3.00216193e+15,  1.18788781e+15,  3.24424072e+13])

In [10]:
model.intercept_

973272214586587.5

In [11]:
model.predict([[31.1,77.75,1.1]])
# We get error when we don't make x as 
# 2 dimensional

C:\Users\Anonymous\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([36208.875])