In [1]:
# import libraries
import pandas as pd
df = pd.read_csv('ml_data.csv')
df.head()

   age   height  weight gender likeness
0   27  170.688    76.0   Male  Biryani
1   41  165.000    70.0   Male  Biryani
2   29  171.000    80.0   Male  Biryani
3   27  173.000   102.0   Male  Biryani
4   29  164.000    67.0   Male  Biryani

In [2]:
df['gender'] = df['gender'].replace("Male", 1)
df['gender'] = df['gender'].replace("Female", 0)
df.tail()
# We do it for categorical variables

     age  height  weight  gender likeness
240   31   160.0    60.0       1   Pakora
241   26   172.0    70.0       1  Biryani
242   40   178.0    80.0       1  Biryani
243   25     5.7    65.0       1  Biryani
244   33   157.0    56.0       0   Samosa

In [3]:
# selection of input and output variable
X1 = df[['weight']]
X2 = df[['height']]
X3 = df[['age']]
X4 = df[['gender']]
X = df[['weight','height','age','gender']]
y= df['likeness']

In [5]:
# Machine learning algorithm
from sklearn.tree import DecisionTreeClassifier

#Create and fit our model
model = DecisionTreeClassifier().fit(X, y)

#Prediction
model.predict([[89,36,23,1]])
model.predict([[32,23,89, 0]])

C:\Users\Anonymous\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(
C:\Users\Anonymous\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Pakora'], dtype=object)

In [6]:
# how to measure the accuracy of our model
# split data into test and train (80/20)

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=0)  # 80% training data and 20% testing

#create a model
model = DecisionTreeClassifier()
# fitting a model
model.fit(X_train, y_train)

predicted_values = model.predict(X_test)
predicted_values

#Checking Scores

score = accuracy_score(y_test, predicted_values)
score

0.46938775510204084

In [8]:
# graph
from sklearn import tree

model = DecisionTreeClassifier().fit(X,y)
# Graphic evaluation / Look into what happended

tree.export_graphviz(model, out_file="foodie.dot",feature_names=['weight','height','age','gender'],label='all',rounded=True,filled=True)