# Assignment

#### how to convert result (Multivariate linear model) in a tabulated format or a picture into dataset

In [1]:
# import libraries
import seaborn as sns
import pandas as pd
import matplotlib.pylab as plt
from statsmodels.multivariate.manova import MANOVA

In [2]:
# dataset load
df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
# manova
mova = MANOVA.from_formula(
    'sepal_length+ sepal_width+ petal_length+ petal_width~ species', data=df)
print(mova.mv_test())

                   Multivariate linear model
================================================================

----------------------------------------------------------------
       Intercept         Value  Num DF  Den DF   F Value  Pr > F
----------------------------------------------------------------
          Wilks' lambda  0.0170 4.0000 144.0000 2086.7720 0.0000
         Pillai's trace  0.9830 4.0000 144.0000 2086.7720 0.0000
 Hotelling-Lawley trace 57.9659 4.0000 144.0000 2086.7720 0.0000
    Roy's greatest root 57.9659 4.0000 144.0000 2086.7720 0.0000
----------------------------------------------------------------

----------------------------------------------------------------
        species          Value  Num DF  Den DF   F Value  Pr > F
----------------------------------------------------------------
          Wilks' lambda  0.0234 8.0000 288.0000  199.1453 0.0000
         Pillai's trace  1.1919 8.0000 290.0000   53.4665 0.0000
 Hotelling-Lawley trace 32.4773 8.0000 203.4024  582.1970 0.0000
    Roy's greatest root 32.1919 4.0000 145.0000 1166.9574 0.0000
================================================================

In [4]:
x = pd.DataFrame((mova.mv_test().results['Intercept']['stat']))
x

                           Value Num DF Den DF      F Value Pr > F
Wilks' lambda           0.016959      4  144.0  2086.772025    0.0
Pillai's trace          0.983041    4.0  144.0  2086.772025    0.0
Hotelling-Lawley trace  57.96589      4  144.0  2086.772025    0.0
Roy's greatest root     57.96589      4    144  2086.772025    0.0

In [5]:
y = pd.DataFrame((mova.mv_test().results['species']['stat']))
y

                            Value Num DF     Den DF      F Value Pr > F
Wilks' lambda            0.023439      8      288.0   199.145344    0.0
Pillai's trace           1.191899    8.0      290.0    53.466489    0.0
Hotelling-Lawley trace   32.47732      8  203.40239   582.197018    0.0
Roy's greatest root     32.191929      4        145  1166.957433    0.0

#### how to interpret Manova

https://support.minitab.com/en-us/minitab/18/help-and-how-to/modeling-statistics/anova/how-to/general-manova/interpret-the-results/key-results/